h1{
    text-align: center;
    padding: 20px;
    color:white;
    background: linear-gradient(grey,black);
}
body{
    background-image: url(download.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-position-x: 0px;
    background-position-y: 100px;
    background-color: black;
  
    
}
    

.navbar ul{ 
    background-color: rgb(rgb(0, 0, 0), grey, rgb(1, 1, 11));
    float: right;
   
    
    
}

.navbar a{
   text-decoration: none;
    color:white;
    
    padding: 10px 20px;
  
   
   
    
    
    
}
.navbar a:hover{
    background-color: red;
}
.navbar li{
display:inline-block;
  
    
}
*{
   padding: 0px;
   margin: 0px;
    box-sizing: border-box;
}
.text-box{
    color: white;
    width: 90%;
    position: absolute;
    top: 450px;

    left: 60%;
    transform: translate(-50%,-50%);
    text-align: center;

}
.text-box p{
    font-size: 20px;
    padding: 10px;
}
.text-box h2{
    font-style:oblique;
}
   


